    
@media(max-width:468px){
    .myimg{
        height: 200px;
        width: auto;
    }
    
    .carousel-inner > .item{
  height: 400px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: 90%; 
}
    .banner{
        font-size: 20px;
        margin-top: -30px;
    }
  }
    
        
@media(max-width:768px){
    .myimg{
        height: 200px;
        width: auto;
    }
    
    .carousel-inner > .item{
  height: 300px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: 20%; 
}
    .banner{
        font-size: 20px;
        margin-top: -20px;
    }
  }

            
@media(max-width:1028px){
    .myimg{
        height: 300px;
        width: 100%;
    }
    
    .carousel-inner > .item{
  height: 600px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: 100%; 
}
    .banner{
        font-size: 10px;
        margin-top: -10px;
    }
  }
    
/*    iphone X*/
    @media(max-width:375px){
    .myimg{
        height: 200px;
        width: 100%;
    }
        .htext{
            font-size: 20px;
        }
        .toptxt{
            font-size: 30px;
        }
    
    .carousel-inner > .item{
  height: 410px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 10px;
  left: 0;
  min-width: 100%;
  height: 100%; 
}
        
    .banner{
        font-size: 30px;
/*        margin-top: -10px;*/
        padding: 25px;
    }
  }
    
    /*    iphone 6/7 */
    @media(max-width:414px){
    .myimg{
        height: 200px;
        width: 100%;
    }
        .htext{
            font-size: 20px;
        }
        .toptxt{
            font-size: 30px;
        }
    
    .carousel-inner > .item{
       height: 410px;
    }
    .carousel-inner > .item >img{
  position: relative;
  top: 10px;
  left: 0;
  min-width: 100%;
  height: 100%; 
}
        
    .banner{
        font-size: 30px;
/*        margin-top: -10px;*/
        padding: 25px;
    }
        .carousel-caption{
            font-size: 20px;
        }
  }
    