
.carousel-caption{
  z-index: 10;
}

.carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-inner > .item >img :hover{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

  
}
  .carousel-inner > .item{
  height: 500px;
}



/*all media queries */

@media(min-width:768px){
  .carousel-inner > .item{
    height: 500px;
  }

.carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: auto; 
}
}
/*

    
@media(max-width:468px){
    .myimg{
        height: 200px;
        width: auto;
    }
    
    .carousel-inner > .item{
  height: 400px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: 90%; 
}
    .banner{
        font-size: 20px;
        margin-top: -30px;
    }
  }
*/
/*
    
        
@media(max-width:768px){
    .myimg{
        height: 200px;
        width: auto;
    }
    
    #room{
  height: 500px; 
    width: 100%;
        
}
    
    .carousel-inner > .item{
  height: 300px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: 20%; 
}
    .banner{
        font-size: 20px;
        margin-top: -20px;
    }
  }

*/
/*
            
@media(max-width:1028px){
    .myimg{
        height: 300px;
        width: 100%;
    }
    
    .carousel-inner > .item{
  height: 600px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 20px;
  left: 0;
  min-width: 100%;
  height: 100%; 
}
    .banner{
        font-size: 10px;
        margin-top: -10px;
    }
  }
    
*/
/*    iphone X*/
    @media(max-width:375px){
    .myimg{
        height: 100px;
        width: 100%;
    }
        .htext{
            font-size: 20px;
        }
        .toptxt{
            font-size: 30px;
        }
    
    .carousel-inner > .item{
  height: 410px;
}
    .carousel-inner > .item >img{
  position: relative;
  top: 10px;
  left: 0;
  min-width: 100%;
  height: 100%; 
}
        
    .banner{
        font-size: 30px;
/*        margin-top: -10px;*/
        padding: 25px;
    }
  }
    
    /*    iphone 6/7 */
    @media(max-width:414px){
    .myimg{
        height: 200px;
        width: 100%;
    }
        .htext{
            font-size: 20px;
        }
        .toptxt{
            font-size: 30px;
        }
    
    .carousel-inner > .item{
       height: 410px;
    }
    .carousel-inner > .item >img{
  position: relative;
  top: 10px;
  left: 0;
  min-width: 100%;
  height: 100%; 
}
        
    .banner{
        font-size: 30px;
/*        margin-top: -10px;*/
        padding: 25px;
    }
        .carousel-caption{
            font-size: 20px;
        }
  }
    


/*end of all media queries*/


body{
	/*background-color: #e7f2f7;*/
}
.cont{
	background-color: white;
	padding: 20px;

}
/*
@media screen and (max-width: 480px) {
  .carousel-indicators{
    display: none;
  }
  .carousel-slide ol{
    display: none;
  }
 .carousel-inner > .item >img{
  height: 100%;
 }
}
*/


.banner{
  background-color: #e34234;
  color: white;
min-width: 100%;
height: 20%;
padding: 30px
}


.banner1{
        background-color: #e34234;
        color: white;
        padding: 25px;
    }


.tpad2{
background-color: #e34234;
color: white;
min-width: 100%;
height: 20%;
padding: 30px
}

.htext{
  font-size: 50px;
}
.error{
  background-color: red;
  color: black;
  align-items: center;
}


@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

button:hover {
  animation: bounce 1s;
}

.tpad1{
  background-color: #e5f2e5;
  color: black;
/*min-width: 100%;*/
height: 20%;
padding: 30px
}


.item span{
font-size: large;
line-height: 100px;
margin-left: 50%;

}
.item{
  /*border-right: 1px solid green*/
}
.cont1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/*
span:hover{
 transform: scale(2.0);
}
*/







.first_cont{
  background-color: #efeff3;
  padding: 10px;
}

.first_cont:hover{
  font-size: 20px;
    font-family: serif;
}

.second_cont{
  background-color: #efeff3;
  margin-top: 20px;
  padding: 15px;
}
.third_cont{
  background-color: #efeff3;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.fourth_cont{
  background-color: #efeff3;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.last_cont{
  background-color: #817281;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  color: white;
  font-family: sans-serif;
}


.text1{
  font-size: 20px;
  font-family: serif;
}

.ttext{
  font-size: 40px;
    color: darkseagreen;
    font-family: serif;
}
.txt{
        color: darkseagreen;
        font-size: 28px;
        font-family: serif;
    }

hr{
  background-color: #009933;
}

.hdtxt{
    color: darkseagreen;
    
}
.hr{
  height:1px; 
  border:0; 
  border-top:2px solid green; 
}


.glyphicon-adjust{
  color: #009933;
  font-size: 25px
}

.glyphicon-star{
  font-size: 25px;
  color:#009933;
}

.glyphicon-star-empty{
  font-size: 25px;
  color: #009933;
}

.glyphicon-home{
  /*font-size: 25px;*/
  color: #009933;
}

.glyphicon-user{
  font-size: 25px;
  color: #009933;
}

.glyphicon-bed{
  font-size: 35px;
  color: #e34234;
}

.glyphicon-tent{
  font-size: 35px;
  color: #e34234;
}

.glyphicon-grain{
  font-size: 35px;
  color: #e34234;
}

.hr1{
  margin-top: 90px;
  height:1px; 
  border:0; 
  border-top:2px solid green; 
}



.desc{
  font-variant: bold;
 font-size: 20px;
}

.amt{
  color: red;
  font-size: 20px
}

.footer{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.hr_last{
  margin-top: 20px;
  height:1px; 
  border:0; 
  border-top: 2px solid white;
}
.last >li{
  display: block;
  float: left;
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
}

.last > li > a{
  color: white;
}


.last > li > a:hover{
  font-size: 20px;
  color: blue;
}


.text{
  margin-top: 25px;

}

.gal_head{
    font-size: 60px;
    font-family: serif;
    font-variant: small-caps;
    text-transform: capitalize;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.head{
    color: white;
    background-color: green;
    padding: 5px;
    margin-top: 20px;
/*    border-radius: 10px*/
}
input[type='text'] .text{
/*    padding: 10px;*/
/*    height: 20px;*/
}

.cont{
/*    background-color: #efeff3;*/
    padding: 40px;
}

.cont1{
    border-radius: 4px;
}

label{
    margin-top: 10px;
    font-family: serif;
    font-size: 20px;
}

a.btn-block{
/*    background-color: darkseagreen;*/
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    color: #009933;
    border: 1px solid #009933;
}
.conti{
    background-color: #efeff3;
    border-radius: 5px;
}
.last{
    margin-bottom: 40px;
    padding-bottom: 10px;
}


a.btn-block:hover{
    background-color: #009933;
    color: white;
    animation: bounce 1s;
}


.error1{
    color: crimson
    font-size: 20px;
    text-align: center;
}

img.img:hover{
    animation: bounce 1s;
}


.glyphicon-heart{
    color: red;
    font-size: 40px;
}
.col1{
    border-right: 1px solid green;
}

    .err{
    color: crimson
    font-size: 20px;
    text-align: center;
}

#room{
  height: 200px; 
    width: 500px;
}


.twit{
    background-color: #009933;
    color: white;
    padding: 10px;
    text-align: center;
}























